.input {
	border: none;
	outline: none;
	background-color: #e6e6e6;
	width: 300px;
}
.options {
	color: gray;
}
.spacer {
	height: 30px;
}
#snippits {
	visibility: hidden;
}
.status {
	width: 50px;
	visibility: inherit;
}