input {
	border: none;
	outline: none;
	font-weight: bold;
}
.action {
	color: gray;
}
.spacer {
	height: 30px;
}
#snippets {
	visibility: hidden;
}
.status {
	width: 50px;
	margin-right: 10px;
}
.task-content {
	display: table-cell;
	vertical-align: middle;
}